<h1>Listing graphs</h1>

<table>
  <tr>
    <th>Start date</th>
    <th>End date</th>
    <th>Graph type</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @graphs.each do |graph| %>
  <tr>
    <td><%= graph.start_date %></td>
    <td><%= graph.end_date %></td>
    <td><%= graph.graph_type %></td>
    <td><%= link_to 'Show', graph %></td>
    <td><%= link_to 'Edit', edit_graph_path(graph) %></td>
    <td><%= link_to 'Destroy', graph, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Graph', new_graph_path %>
