<p id="notice"><%= notice %></p>

<p>
  <b>Start date:</b>
  <%= @graph.start_date %>
</p>

<p>
  <b>End date:</b>
  <%= @graph.end_date %>
</p>

<p>
  <b>Graph type:</b>
  <%= @graph.graph_type %>
</p>


<%= link_to 'Edit', edit_graph_path(@graph) %> |
<%= link_to 'Back', graphs_path %>
