<h1>Listing markets</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Supply host</th>
    <th>Col 1</th>
    <th>Col 2</th>
    <th>Total</th>
    <th>For date</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @markets.each do |market| %>
  <tr>
    <td><%= market.name %></td>
    <td><%= market.supply_host %></td>
    <td><%= market.col_1 %></td>
    <td><%= market.col_2 %></td>
    <td><%= market.total %></td>
    <td><%= market.for_date %></td>
    <td><%= link_to 'Show', market %></td>
    <td><%= link_to 'Edit', edit_market_path(market) %></td>
    <td><%= link_to 'Destroy', market, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Market', new_market_path %>
