<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @market.name %>
</p>

<p>
  <b>Supply host:</b>
  <%= @market.supply_host %>
</p>

<p>
  <b>Col 1:</b>
  <%= @market.col_1 %>
</p>

<p>
  <b>Col 2:</b>
  <%= @market.col_2 %>
</p>

<p>
  <b>Total:</b>
  <%= @market.total %>
</p>

<p>
  <b>For date:</b>
  <%= @market.for_date %>
</p>


<%= link_to 'Edit', edit_market_path(@market) %> |
<%= link_to 'Back', markets_path %>
