<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @market.name %>
</p>

<p>
  <b>One v:</b>
  <%= @market.one_v %>
</p>

<p>
  <b>All:</b>
  <%= @market.all %>
</p>

<p>
  <b>Dchh:</b>
  <%= @market.DCHH %>
</p>

<p>
  <b>Gta:</b>
  <%= @market.GTA %>
</p>

<p>
  <b>Het:</b>
  <%= @market.HET %>
</p>

<p>
  <b>Omh:</b>
  <%= @market.OMH %>
</p>

<p>
  <b>Pdn:</b>
  <%= @market.PDN %>
</p>

<p>
  <b>Peg:</b>
  <%= @market.PEG %>
</p>

<p>
  <b>Date:</b>
  <%= @market.date %>
</p>


<%= link_to 'Edit', edit_market_path(@market) %> |
<%= link_to 'Back', markets_path %>
